root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
indent_style = tab
tab_width = 4
csharp_new_line_before_open_brace = all
dotnet_sort_system_directives_first = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_declaration_name_and_open_parenthesis = false
